body {
  background-color: rgb(210, 93, 39);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

img {
  width: 300px;
  height: auto;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}